body{
    background-color: #f5f7fb;
}
.card{
    height: 600px;
    width: 300px;
    background-color: rgb(251, 14, 14);
    padding: 20px;
    margin: 20px;
}
.car-img{
    height: 340px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
