@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    background-color: #dbe5f9;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    height: 670px;
    width: 400px;
    background-color: rgba(17, 25, 40, 0.25);
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
}
.car-img{
    height: 450px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255);
}
.car-name{
    text-align: center;
    font-size: 35px;
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
}
.car-description{
    text-align: justify;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    border: 1px solid black;
    border-radius: 24px;
    font-size: 15px;
    padding: 10px;
    background-color: transparent;
}